#module-selector {
  position    : absolute;
  bottom      : 100%;
  width       : 88%;
  min-height  : 270px;
  background  : rgba( 14, 14, 14, 0.13);
  background  : rgba( 45, 155, 255, 0.45 );
  background  : rgba( 15, 115, 225, 1.00 );
  /* opacity     : 0; */
  display     : none;
  transition  : all 140ms;
}

#module-selector .module {
  font-family  : 'Quicksand','Karla';
  font-size    : 11pt;
  margin-left  : 8px;
  margin-right : 8px;
  padding-left : 1.4em;
  line-height  : 2.4em;
  cursor       : pointer;
  color        : rgba( 15, 15, 15, 1.00 );
}

#module-selector .module:hover {
  color        : rgba( 175, 175, 175, 1.00 );
  background   : rgba(  55, 185, 201, 0.35 );
}
