
#CSQ-question {
  font-family : 'Quicksand','Karla';
  position    : absolute;
  top         : 114px;
  left        : calc((100% - 94%) / 2);
  width       : 94%;
  height      : 45px;
  border      : 1px solid rgba(1,1,1,0.0);
  text-align  : center;
}

#CSQ-categories {
  font-family : 'Quicksand','Karla';
  position    : absolute;
  top         : calc(114px + 45px);
  left        : calc((100% - 94%) / 2);
  width       : 94%;
  height      : 45px;
  border      : 1px solid rgba(155,1,1,0.0);
  line-height : 36px;
}

.CSQ-system {
  cursor       : pointer;
  padding-left : 36px;
  margin-bottom: 4px;
  border-top   : 1px solid rgba( 1, 1, 14, 0.09 );
  border-bottom: 1px solid rgba( 1, 1, 14, 0.06 );
}

.CSQ-system:hover {
  color       : rgba( 145, 145, 145, 1 );
  background  : rgba( 1, 1, 45, 0.19 );
}

#CSQ-panel {
  position    : absolute;
  top         : calc(274px + 7.3 * 34px);
  left        : calc((100% - 94%) / 2);
  width       : 94%;
  height      : 45px;
  border      : 1px solid rgba(1,1,1,0.0);
  transition  : all 140ms;
}

#CSQ-yes {
  cursor      : pointer;
  font-family : 'Quicksand','Karla';
  text-align  : right;
  padding-right: 33px;
  position    : absolute;
  top         : 50%;
  left        : 50%;
  line-height : 45px;
  width       : calc(50% - 33px);
  transform   : translate( -100%, -50% );
  border      : 1px solid rgba(1,1,1,0.15);
  border-right: 1px solid rgba(1,1,1,0.04);
  display     : none;
  user-select : none;
}

#CSQ-no {
  cursor      : pointer;
  font-family : 'Quicksand','Karla';
  padding-left: 33px;
  position    : absolute;
  top         : 50%;
  left        : 50%;
  line-height : 45px;
  width       : calc(50% - 33px);
  transform   : translate( 0%, -50% );
  border      : 1px solid rgba(1,1,1,0.15);
  border-left : 1px solid rgba(1,1,1,0.04);
  display     : none;
  user-select : none;
}

#CSQ-panel #CSQ-yes:hover, #CSQ-panel #CSQ-no:hover {
  color       : rgba( 145, 145, 145, 1 );
  border      : 1px solid rgba(1,1,8,0.14);
}

#CSQ-yes:hover {
  background  : rgba( 1, 114, 45, 0.19 );
}

#CSQ-no:hover {
  background  : rgba( 114, 1, 45, 0.19 );
}

#CSQ-next {
  cursor       : pointer;
  font-family  : 'Quicksand','Karla';
  position     : absolute;
  top          : 0%;
  left         : 0%;
  width        : 100%;
  height       : 100%;
  text-align   : center;
  line-height  : 34pt;
  border-top   : 1px solid rgba(1,1,1,0.15);
  border-bottom: 1px solid rgba(1,1,1,0.15);
  user-select : none;
}

#CSQ-panel #CSQ-next:hover {
  color        : rgba( 145, 145, 145, 1 );
  border-top   : 1px solid rgba(1,1,8,0.14);
  border-bottom: 1px solid rgba(1,1,8,0.14);
}

#CSQ-datum {
  font-family : 'Quicksand','Karla';
  position    : absolute;
  top         : calc(114px + 100px);
  left        : calc((100% - 94%) / 2);
  width       : 94%;
  height      : 45px;
  border      : 1px solid rgba(1,1,1,0.0);
  text-align  : center;
}

#CSQ-datum.error {
  color       : rgba( 105, 25, 25, 1.0 );
}

#CSQ-shotclock {
  position    : absolute;
  font-family : 'Source Code Pro','Overpass Mono','Fira Code','Raleway','Quicksand','Karla';
  font-size   : 34pt;
  color       : rgba( 1, 1, 1, 0.67 );
  top         : calc(114px + 45px + 15px);
  left        : calc((100% - 94%) / 2);
  left        : 50%;
  width       : 94%;
  transform   : translate( -50%, 0% );
  text-align  : center;
}
